<section id="message" class="message">
  <arcile class="message">

    <h2 class="message_email">
      <%= @message.email %>
    </h2>
    <h2 class="message_name">
      <%= @message.name %>
    </h2>
    <div class="message_extradata">
      <%= @message.extradata.html_safe%>
    </div>
  </arcile>
</section>
